@{
    ViewData["Title"] = "Home";
}

<div class="container">

    <div class="text-center">

        <main class="index">

            <h1 class="display-4">Bem-vinda(o) a Recogency!</h1>

            <h4>A sua agência de viagem.</h4>

            <br><br>

            <p>
                Nós da Recogency, somos uma agência de viagens on-line; De origem brasileira, e, que trabalha com pacotes de viagens com voos (apenas) com origem no Aeroporto Internacional de Guarulhos (GRU), em São Paulo. <br>
                Temos nos consolidado cada dia mais, como uma das maiores agências de turismo online do Brasil. Nossa viagem começou recentemente com o intuito de desbravar os 7 mares e trazer as melhores ofertas de viagens. Desde então não paramos de crescer cada dia mais.
            </p>

            <br><br>

            <p><b>Os valores presentes nas páginas de promoções e destinos, são para intervalos de 15 dias. <br>
                Ou seja, o espaço entre a data de saída e a data de retorno devem ser de 15 dias.</b></p>

        </main>

        <br><br><br><br>

    </div>

</div>
